{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      <br>
      <h1>What do you want to do?</h1>
      <br>
       <a href="{{ url_for('guardian_users') }}" class="btn-primary">Get Users</a>

       <a href="{{ url_for('guardian_servers') }}" class="btn-primary">Get Servers</a>

       <a href="{{ url_for('guardian_backup_check') }}" class="btn-primary">Run a check</a>

       <a href="{{ url_for('guardian_health_check') }}" class="btn-primary">Run a health check</a> 

    </div>
  </main>
{% endblock %}

