*.o
mysql-guardian.log
mysql-guardian-sql.log
mysql-guardian.sublime-project
mysql-guardian.sublime-workspace
.mysql-guardian_rc
build/mysql-guardian.log
build/mysql-guardian-sql.log
build/.mysql-guardian_rc
.vscode
build/mysqlgd
