{% extends "layout.html" %}

{% block content %}
  <main class="container signup-section">
    <div class="section-content">
      <h2>Add SERVER to Database</h2>

      <form method="POST" action="/add_server">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.hostname.label }}

          {% if form.hostname.errors %}
            {% for error in form.hostname.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.hostname }}
        </div>

        <div class="form-group">
          {{ form.port.label }}

          {% if form.port.errors %}
            {% for error in form.port.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.port }}
        </div>

        <div class="form-group">
          {{ form.username.label }}

          {% if form.username.errors %}
            {% for error in form.username.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.username }}
        </div>

        <div class="form-group">
          {{ form.password.label }}

          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.password }}
        </div>

            {{ form.submit(class="btn-primary") }}


      </form>
    </div>
  </main>
{% endblock %}