{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      <br>
      <h1>Control Panel</h1>
      <br>
       <a href="{{ url_for('guardian_users') }}" class="btn-primary">Show users</a>

       <a href="{{ url_for('guardian_servers') }}" class="btn-primary">Show servers</a>

       <a href="{{ url_for('guardian_backup_check') }}" class="btn-primary">Check backup status</a>

       <a href="{{ url_for('guardian_health_check') }}" class="btn-primary">Run a health check</a> 

       <a href="{{ url_for('guardian_tasks') }}" class="btn-primary">Set a task</a>

    </div>
  </main>
{% endblock %}

