<!DOCTYPE html>
<html lang="en">
 
<head>
    <br></br>
    <title>mySQL Guardian</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>

            </nav>
            <h3 class="text-muted">mySQL Guardian</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Your data. Anywhere</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="login_info" role="button">Sign in</a>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Access anywhere</h4>
                <p>mySQL Guardian allows you to easily configure your databases through a web browser.</p>
 
                <h4>Create, update, drop</h4>
                <p>Do what you want with your data.</p>
 
            </div>
 
            <div class="col-lg-6">
                <h4>Open Source</h4>
                <p>Completely Free.  Free as in freedom.</p>
 
                <h4>Placeholder</h4>
                <p>This is just a placeholder.</p>
            </div>
        </div>
 
        <footer class="footer">
                <br></br>
                <br></br>
            <p>&copy; Stephen Planck & Alistair Packer 2018</p>
        </footer>
 
    </div>
</body>
 
</html>
